body {
    background-color: #292929;
    color: #f2f2f2;
}

.custom-console {
    border-radius: 12px;
    transition: background-color 1s ease; /* Add a smooth transition */
  }
  
  .custom-console:hover {
    background-color: #585858; 
    color: #f2f2f2; 
  }

  .details{
    color: #292929;
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    margin: 20px;
  }


  .card-body {
    background-color: #f1f1f1;
  }

  .navigation-h4{
    margin: 5px;
    padding: 5px;
    border-bottom: 3px double #3f3f3f;
  }

